.Footer-container {
    text-align: left;
    color: rgb(165, 165, 165);
    background-color: rgb(238, 238, 238);
    height: 100px;
    max-width: none !important;
    
    /* Keeping it at the bottom */
    position: absolute;
    bottom: 0;
    width: 100%;
}