.search-div {
    position: absolute;
    left: 50%;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    border-radius: 0.313rem;
    transform: translate(-50%, 50%);
    background-color: #fff;
    padding: 0.625rem 1.25rem;
    box-shadow: 0rem 0.313rem 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
}
.search-location {
    width: 90%;
    padding: 0.75rem 0.625rem;
    height: 3rem !important;
    font-size: 1em;
    outline: none;
    border: none;
    border-bottom: 0.063rem solid #ddd;
    box-sizing: border-box;
}

.search-title {
    text-align: center;
    color:white;
}